<div class="container">
  <div class="left-content">
    <mat-icon id="addTruck" (click)="addNewTruck()">add_circle_outline</mat-icon>

    <mat-card class="legedCard">
        <h2>Stav vozidla</h2>
        <mat-divider></mat-divider>
        <div class="legend">
            <div class="wrapGroup available">
                <mat-icon class="available">fiber_manual_record</mat-icon> <span>K dispozícii</span>
            </div>
            <div class="wrapGroup inProcess">
                <mat-icon class="inProcess">fiber_manual_record</mat-icon> <span>Na ceste</span>
            </div>
        </div>

    </mat-card>


  </div>
  <div class="right-content">

    <app-truck-detail #truckDetail></app-truck-detail>
  </div>
</div>
