<mat-card *ngIf="chatMessages">
  <div #scrollMe class="chatCard">
    <div *ngFor="let currMessage of chatMessages">
      <i>{{currMessage.time | date: 'dd.MMMM'}} ({{currMessage.from}})</i>
      <p id="changeT" [ngClass]="(currMessage.from === 'boss') ? 'yourMessage':'outsideMessage'">{{currMessage.text}}</p>
    </div>
  </div>
  <mat-card>
    <mat-form-field class="inputNewMessage">
      <input matInput placeholder="Piste..." [(ngModel)]="newMessageText" name="newMessageText">
      <button mat-button 
      matSuffix
      *ngIf="newMessageText"
      (click)="sendMessage()"
      mat-icon-button >
      <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </mat-card>
</mat-card>