@import '../../../assets/global-css/variables.scss';    

#changeT{
    color: white;
}
.inputNewMessage{
    width: 100%;
}
.sendIcon{
    padding: 5px;
    font-size: 20px;
}
i{
    font-size: 10px;
}
.chatCard{
    overflow: scroll;
    padding-right: 5px; 
    min-height: 30px;
    max-height: 200px;
}

.messageWrapper {
    position: relative;

    .yourMessage{
        background: $manager-color;
        padding: 5px 5px 5px 10px;
        border-radius: 10px;
        float: right;
        width: fit-content;
    }
    .outsideMessage{
        background-color: $nav-color;
        padding: 5px 10px 5px 5px;
        border-radius: 10px;
        float: left;
        width: fit-content;
    }
}

.group:before,
.group:after {
	content: " " !important;
	display: table !important;}
.group:after {clear: both !important;}
.group {*zoom: 1 !important;}


/*Scroll bar*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $nav-color; 
    border-radius: 10px;
}