@import '../../assets/global-css/variables.scss';

nav {
    ul {
        width: 70%;
        margin: 0;
        padding: 10px;
        float: left;
        list-style: none;
        li {
            margin: 0;
            margin-right: 3%;
            padding: 0;
            display: inline-block;
            a{
                color: white;
                text-decoration: none;
            }
            &:hover {
                transition: all 100ms linear;
                transform: scale(1.05);
             }
        }
    }
    background: $nav-color;
    padding: 15px;  
}

mat-icon {
    color: white;
    float: right;
    margin-right: 30px;
    font-size: 2.2em;
    &:hover {
        cursor: pointer;
    }
}



.group:before,
.group:after {
	content: " ";
	display: table;}
.group:after {clear: both;}
.group {*zoom: 1;}