<nav class="group">
  <ul>
    <li><a routerLink="/home">Domov</a></li>
    <li><a routerLink="/employers">Zamestnanci</a></li>
    <li><a routerLink="/trucks">Vozidlá</a></li>
    <li><a routerLink="/tasks">Trasy</a></li>
    <li><a routerLink="/statistics">Štatistiky</a></li>
    <li><a routerLink="/tasks">Úlohy</a></li>
  </ul>
  <mat-icon [matMenuTriggerFor]="menu" >account_circle</mat-icon>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>Editácia profilu</button>
      <button mat-menu-item>Odhlásenie</button>
    </mat-menu>
</nav>
