.wrapper {
    padding: 0 20px;

    mat-form-field {
        width: 20%;
        margin:  8px 2.5%;
        &.textarea {
            width: 95%;
        }
    }

    mat-icon {
        position: relative;
        top: -2px;
        padding-right: 8px;
    }
    .example-form {
        button {
            margin: 0 2.5%;
            text-align: right;
        }
    }
}
.example-form {
    position: relative;
    .addRoute {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    h4 {
        margin: 0;
        padding-top: 15px;
    }
}
.right {
    float: right;
}

