.wrapper {
    padding: 0 20px;

    mat-form-field {
        width: 20%;
        margin:  8px 2.5%;
    }

    .example-form {
        button {
            margin: 0 2.5%;
            text-align: right;
        }
    }
}

