@import '../../../../assets/global-css/variables.scss';

mat-icon {
    color: green;
    position: relative;
    top: -3px;
    left: -4px;
}

mat-expansion-panel{
    margin-bottom: 10px;
}

.content {
    position: relative;
}
button {
    position: absolute;
    right: -10px;
    bottom: -15px;
}
.chatIcon {
    color: $chat-color;
    &:hover {
        cursor: pointer;
        transition: all 0.2s linear;
        transform: scale(1.15);
    }
}