mat-icon {
    color: green;
    position: relative;
    top: -3px;
    left: -4px;
}

mat-expansion-panel{
    margin-bottom: 10px;
}

.content {
    position: relative;
}
button {
    position: absolute;
    right: -10px;
    bottom: -15px;
}