<!-- <mat-icon>add_circle</mat-icon> -->


<mat-card class="form-card">

  <form>
    <mat-form-field>
      <input matInput placeholder="Meno" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Priezvisko" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="E-mail" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mobil" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Login" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Heslo" required>
    </mat-form-field>
    <button mat-raised-button color="primary">Registrovať</button>
  </form>

</mat-card>

<p>Už ste registrovaný? <a routerLink="/login">Prihláste sa.</a></p>