/* You can add global styles to this file, and also import other style files */
@import '/assets/global-css/variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: $background-color;
}
.mat-dialog-container {
    padding: 0 !important;
}

.leaflet-routing-container.leaflet-bar.leaflet-routing-container-hide.leaflet-control {
    display: none;
}
.no-padd .mat-expansion-panel-body {
    padding: 0 !important;
}