@import '../../../assets/global-css/variables.scss';
.wrap {
    text-align: center;
    img {
        margin-top: 4vh;
        width: 250px;
        height: auto;
    }
}
.form-card {
    max-width: 30%;
    margin: 0 auto;
    margin-top: 7vh;

    mat-form-field {
        width: 100%
    }

    button {
        width: 100%;
    }
}

p{
    text-align: center;
    color: rgb(27, 24, 24);
    a{
        color: $nav-color;
    }
}
