
html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255,249,227, 0.5);
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin: 30px auto;
    box-sizing: border-box;
}
li {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 32.5%;
    text-align: center;
    font-size:1.2em;
    padding-bottom: 5px;
    font-weight: 200;
}  
li:hover {
    transition: all 0.2s linear;
    color: white;
    border-bottom: 1px solid white;
}
nav{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #eee;
}
nav a:hover{
    transition: all 0.2s linear;
    color: white;
}

section h1{
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    
}

.section {
    margin-top: 0;
    padding-top: 50px;
    border-bottom: 1px solid rgba(7, 7, 7, 0.37);
    padding: 15px;
    width: 30%;
    margin: 0 auto;
}

#intro h1{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 8em;
    font-weight: 400;
    color: #eee;
    position: relative;
    top: 40vh;
}

#intro {
    background-image: url('img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

#aboutProjectHeader{
    font-size: 2em;
    color: #5c045f;
    text-align: left;
    margin: 40px 80px 15px 80px;
    font-weight: 400;
    margin-top: 100px;
}

#project, #docs {
    background: rgba(255, 249, 227, 0.5);
    min-height: 100vh;
}

#members {
    background: rgba(252, 246, 228, 0.911);
    min-height: 100vh;
}
#members h1 {
    margin-bottom: 10vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    display: none;
}

#up:hover {
    cursor: pointer;
}

.box {
    width: 25%;
    text-align: center;
}
.box img {
    width: 50%;
    text-align: center;
}
#marcel {
    position: relative;
    top: 100px;
}

#projectContent {
    margin: 0 60px;
    width: 60%;
    padding: 20px;
    text-indent: 30px;
    line-height: 1.8;
    float: left;
}
#projectImage {
    float: right;
    margin-right: 5%;
    width: 20%;
}

.docContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(255, 133, 77, 0.986);
    text-align: center;
    float: left;
    margin: 5%;
}
.docContainer i {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}
.docContainer a {
    color: #eee;
}
.fa-file-pdf{
    font-size: 2em;
}




/**************Media queries*******************/

@media screen and (max-width: 1200px) {
    #intro h1 {
        font-size: 6em;
    }
    #aboutProjectHeader {
        text-align: center;
    }
    #projectContent {
        width: 70%;
        margin: 0 auto;

        float: none;
    }
    #projectImage {
        float: none;
        margin: 0;
        text-align: center;
    }
    #project {
        text-align: center;
    }
    #members h1 {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    #intro h1 {
        font-size: 5em;
    }
    #projectImage {
    width: 30%;
    }

    #docs h1 {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    #intro h1 {
        font-size: 3em;
    }
    nav ul {
        width: 100%;
    }
    #members h1,#docs h1 {
        font-size: 2em;
    }
}