// .left-content, 
// .right-content {
//     width: 50%;
//     box-sizing: border-box;
//     float: left;
//     margin-top: 5vh;
// }

.container {
    position: relative;
    top: 5vh;
    width: 80%;
    margin: 0 auto;
}