<div class="wrap">
  <mat-form-field class="example-full-width">
    <mat-placeholder>
      <mat-icon>search</mat-icon> Hľadaj
    </mat-placeholder>
    <input matInput [matAutocomplete]="auto" [formControl]="trucksControl">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let truck of filteredTrucks | async" [value]="truck.brand">
        <span>{{truck.brand}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<mat-card class="truckCard" *ngFor="let truck of filteredTrucks | async; let index = index;">
  <img src="{{truck.photoUrl}}" alt="photo">
  <h1>{{truck.brand}}</h1>
  <h2>{{truck.km}} km</h2>
  <div [class]="truck.isActive === true ? 'process' : 'available'">
    <mat-icon id="state" >fiber_manual_record</mat-icon>
  </div>
  <div class="actions group">
      <div class="action" (click)="showInfo(index)" ><mat-icon>info</mat-icon></div>
      <div class="action" (click)="showEdit(index)" ><mat-icon>edit</mat-icon></div>
      <div class="action" (click)="deleteTruck(index)" ><mat-icon>delete</mat-icon></div>
    </div>
</mat-card>
