@import '../../../assets/global-css/variables.scss';

.container {
    width: 95%;
    margin: 0 auto;

    margin-top: 5vh;

    .left-content {
        float: left;
        width: 29%;
        margin-left: 2vh;
    }
    .right-content {
        float: right;
        width: 69%;
        overflow: auto;
        height: 80vh;
        background-color: $background-charts;
    }

}

.legedCard {
    padding: 0;
    
    h2 {
        margin: 0;
        padding: 10px;

    }
}
.legend {
    padding: 10px;

    .wrapGroup {
        line-height: 25px;
        mat-icon{
            font-size: 25px;
            position: relative;
            top: 6px;
            margin-right: 8px;
        }
        span {
            color: black;
        }
    }

    .wrapGroup:hover {
        cursor: pointer;
        background-color: rgba($color: $nav-color  , $alpha: .2)
    }
}

#chartDiv {
    margin: 0 auto;
}

#chartDivko, #chartDivko2 {
    display: none;
    width: 100%; 
    height: 100%;
}