<div class="dialog">

    <h1>{{title}}</h1>
    <mat-divider></mat-divider>
    <mat-icon (click)="closeDialog()" class="close">close</mat-icon>
    <div class="content-wrapper">
      <form id="newTruckForm" [formGroup]="newEmployeeForm">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Meno" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Priezvisko" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rodné číslo" formControlName="birthNumber">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Číslo OP" formControlName="idNumber">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Dátum narodenia">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Špecializácia" formControlName="specialisation">
            <mat-option value="Vodič">Vodič</mat-option>
            <mat-option value="Dispečér">Dispečér</mat-option>
            <mat-option value="Manažér">Manažér</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Adresa" formControlName="address">
        </mat-form-field>
      </form>

      <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone" *ngIf="showEditInputs">
        <p>Vložte fotku zamestnanca</p>
      </div>

      <div style="width: 500px" *ngIf="showEditInputs">
        <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'"
          multiple>

          <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue>
      </div>
      <div class="btn" *ngIf="showEditInputs" >
        <button mat-raised-button [disabled]="!newEmployeeForm.valid" (click)="sendEmployee()" class="submitButton" color="primary">Pridaj</button>
      </div>
    </div>
  </div>
<!-- <p>{{newEmployeeForm.value | json}}</p> -->
