<div class="dialog">

    <h1>{{title}}</h1>
    <mat-divider></mat-divider>
    <mat-icon (click)="closeDialog()" class="close">close</mat-icon>
    <div class="content-wrapper">
      <form id="newEmployeeForm" [formGroup]="newEmployeeForm">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Meno" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Priezvisko" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rodné číslo" formControlName="birthNumber">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Číslo OP" formControlName="idNumber">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="Dátum narodenia">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Špecializácia" formControlName="specialisation">
            <mat-option value="Vodič">Vodič</mat-option>
            <mat-option value="Dispečér">Dispečér</mat-option>
            <mat-option value="Manažér">Manažér</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Adresa" formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field *ngIf="isCreateMode">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <div class="inputfile" *ngIf="showEditInputs">
          <input formControlName="photo" type="file"(change)="setPhoto($event)" name="file" id="file" class="file" accept="image/*">
          <label for="file"><i class="material-icons photoIcon">add_a_photo </i> Vložte fotku</label>
          <span id="fileName">{{fileName}}</span>
        </div>
      </form>
      <div class="btn" *ngIf="showEditInputs">
        <button mat-raised-button [disabled]="!newEmployeeForm.valid" (click)="sendEmployee()" class="submitButton" color="primary">Pridaj</button>
      </div>
    </div>
  </div>
