.yourMessage{
    background-color: color($colors, primary);
    padding: 5px;
    border-radius: 10px;
}
.outsideMessage{
    background-color: color($colors, secondary);
    padding: 5px;
    border-radius: 10px;
    text-align: end;
}
i{
    font-size: 10px;
    margin: 5px;
}
.chatCard{
    overflow: auto;
    min-height: 30px;
    max-height: 200px;
}
