<div class="wrap">
  <mat-form-field class="example-full-width">
    <mat-placeholder>
      <mat-icon>search</mat-icon> Hľadaj
    </mat-placeholder>
    <input matInput [matAutocomplete]="auto" [formControl]="employeesControl">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let employee of filteredEmployees | async" value="{{employee.firstName}} {{employee.lastName}}">
        <span>{{employee.firstName}} {{employee.lastName}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<mat-card #driverBox *ngFor="let employee of filteredEmployees | async; let index = index;" class="driverBox">
  <img [ngClass]="[employee.specialisation == 'Vodič' ? 'driverBorder' : '',  employee.specialisation == 'Manažér' ? 'managerBorder' : '',  employee.specialisation == 'Dispečér' ? 'dispatcherBorder' : '']" src="{{employee.image}}" alt="photo">
  <h1>{{employee.firstName}} {{employee.lastName}}</h1>
  <h2>{{employee.specialisation}}</h2>
    <div class="actions group">
      <div class="action" (click)="showInfo(index)" ><mat-icon>info</mat-icon></div>
      <div class="action" (click)="showEdit(index)" ><mat-icon>edit</mat-icon></div>
      <div class="action" (click)="deleteEmployee($event, index)" ><mat-icon>delete</mat-icon></div>
  </div>
</mat-card>